<% if current_page.data["wip"] %>
  <%= content_for :banner do %>
    <div class="bg-white/70 backdrop-blur fixed w-full py-1.5 px-3 shadow-sm text-xs font-semibold text-neutral-500 flex items-center space-x-2">
      <svg width="24px" height="24px" class="size-4" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>icon / alert-circle</title>
          <g id="icon-/-alert-circle" stroke="none" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
              <g id="Group" transform="translate(2, 2)" stroke="#000000">
                  <circle id="Oval" stroke-width="2" cx="10" cy="10" r="10"></circle>
                  <line x1="10" y1="6" x2="10" y2="10" id="Path" stroke-width="2"></line>
                  <line x1="10" y1="14" x2="10.01" y2="14" id="Path" stroke-width="2"></line>
              </g>
          </g>
      </svg>
      <span>This article is still a work in progress. If you'd like to contribute, please see the <a class="font-bold underline" href="https://github.com/TeriyakiBomb/rails-tldr">Github repo</a></span>
    </div>
  <% end %>
<% end %>

<div class="flex flex-col space-y-4">
  <h1 class="text-4xl font-black"><%= current_page.data["title"] %></h1>

  <div class="py-2 pr-2.5 pl-1 bg-teal-200 border border-teal-500 rounded-xl text-teal-800 font-semibold w-fit text-sm tracking-normal">
    <span class="bg-teal-500 text-white font-black rounded-lg py-1 px-2 mr-2">tl;dr</span>
    <%= tldr %>
  </div>

  <div id="tldr-body">
    <%= content %>
  </div>
</div>
